DOCKER_NAMESPACE = frog
DOCKER_IMAGE_VERSION ?= latest
DOCKER_REPOSITORY = frog-opencv-tests
DOCKER_CONTAINER_NAME = opencv
DOCKER_INSTANCE = 1
DOCKER_PORTS = -p 5000:5000
DOCKER_MAPPED_VOLUMES = -v $(shell pwd)/src:/src
DOCKER_ENV = \
	-e FLASK_DEBUG=true \
	-e FLASK_HOST='0.0.0.0' \
	-e FLASK_PORT=5000
