DOCKER_NAMESPACE = opencv-experiments
DOCKER_IMAGE_VERSION ?= latest
DOCKER_REPOSITORY = opencv-service
DOCKER_CONTAINER_NAME = opencv-service
DOCKER_INSTANCE = 1
DOCKER_PORTS = -p 5000:5000
DOCKER_MAPPED_VOLUMES = \
  -v $(shell pwd)/src:/src
DOCKER_ENV = \
  -e FLASK_DEBUG=true \
  -e FLASK_HOST='0.0.0.0' \
  -e FLASK_PORT=5000
